{% extends 'indexbase.html' %}

{% block title  %}
Signup
{% endblock title %}

 {% block body %}
 <br><br><br><br><br><br><br><br><br><br><br>
  <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div  class="text-center">
                    <a class="btn btn-success" href="/customersignup" role="button">Customer Signup</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-danger" href="/branchsignup" role="button">Branch Signup</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %} 